# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.project
.classpath
.springBeans
rebel.xml
.factorypath

# idea ignore
.idea/
*.ipr
*.iml
*.iws
.externalToolBuilders/
# temp ignore
logs/
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db
/passcar-web-b2cex/src/test/java/com/qigou/b2cex/test/TestExcel.java